*.pdf
*.pptx
*._.DS_Store
*DS_Store
*.DS_Store
results
figures
data
processed_data
code/_output
code/.Rhistory
*.out
*.html
*.err
*.pyc
.idea*
._*
code/RAxML*
code/out_err_files
code/test_dir/
code/temp_sh_files
presentations_and_summaries/
manuscript_files


