*.pdf
*.pptx
*._.DS_Store
results
figures
data
processed_data
code/_output
code/.Rhistory
*.out
*.html
*.err
*.pyc
*.sbatch
.idea*
._*
code/RAxML*
code/out_err_files
code/test_dir/
presentations_and_summaries/
manuscript_files


