*.pdf
*.pptx
*._.DS_Store
results
figures
data
processed_data/mouse_specific_data_files/
processed_data/seq_level_files/
code/_output
*.out
*.err
*.pyc
*.sbatch
.idea*
._*
code/RAxML*
code/out_err_files
presentations_and_summaries/


